<!-- files -->
<script type="text/x-template" id="attachment-files">
  <div id="attachment-files">

    <!-- add Array input -->
    <?php if ($attachemntSettings['relation']== 'belongsToMany') { ?>
        <input type="hidden" name="attachments[]" value="" id="AttachmentAttachment_">
    <?php } ?>

    <div class="row" v-sortable="{draggable:'.attachment-files__item', onEnd:onEnd}" >
      <div v-for="(index, file) in files" id="{{index}}"  class="attachment-files__item col-xs-4 col-md-2">
        <div class="thumbnail" >
          <img v-bind:src="'<?= $this->Url->build('/image.php') ?>?image='+file.path+'&width=678&cropratio=16:9'" />
          <div class="caption">
              {{file.name}}<br/>
              {{file.size | bytesToMegaBytes | decimal 2 }} MB<br/>

            <!-- data -->
            <?php if ($settings['relations']== 'belongsToMany') { ?>
              <input type="hidden" name="attachments[{{index}}][id]" value="{{file.id}}">
              <input type="hidden" name="attachments[{{index}}][_joinData][order]" value="{{index}}">
            <?php }else{ ?>
              <input type="hidden" name="<?= $settings['field'] ?>" value="{{file.id}}">
            <?php } ?>

            <a href="#" class="btn btn-xs btn-warning" role="button" @click="remove(index)" >Enlever</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
