.modal-mask { position: fixed; z-index: 9998; top: 0; left: 0;right:0; width: 100%; min-height: 100%; background-color: rgba(0, 0, 0, .5); display: table; transition: opacity .3s ease;}
.modal-wrapper { display: table-cell; vertical-align: middle;}
.modal-container { overflow: auto; max-height:98vh; margin: 0px auto; padding: 20px 30px; background-color: #fff; border-radius: 2px; box-shadow: 0 2px 8px rgba(0, 0, 0, .33); transition: all .3s ease; font-family: Helvetica, Arial, sans-serif; }
.custom-modal-header h3 { margin-top: 0; color: #42b983; }
.custom-modal-body { margin: 20px 0; }
.custom-modal-footer .btn-group { float: right; }
.modal-enter, .modal-leave { opacity: 0;}
.modal-enter .modal-container,
.modal-leave .modal-container { -webkit-transform: scale(1.1); transform: scale(1.1); }

/*#attachment-dropzone */
.attachment-dropzone__area { padding: 50px; margin-bottom: 10px; border: 3px dotted #808080; background: #eee; border-radius: 20px; text-align:center; }
#attachment-files-input { margin: 0 auto; }
.attachment-dropzone__instructions{ margin-bottom: 20px;}
#attachment-upload .alert{ margin-bottom: 5px;}
.attachment-upload__item { padding: 5px; margin-bottom: 5px; border: 2px solid #808080; background: #eee; border-radius: 4px; }
.attachment-upload__item__icon { display: inline-block; font-size: 51px; width: 40px; margin-right: 12px; }
.attachment-upload__item__description{ display: inline-block; }

#attachment-atags{ margin-bottom: 10px;}

#attachment-filters .panel-heading a { padding: 0; display: inline; }

/* PAGINATION
*****************************/
.pagination > li > a,
.pagination > li > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span { border-radius: 0;}

/* THUMB
*****************************/
.attachment-thumb__icon-container { position: relative; }
.attachment-thumb__icon-container::before { content:''; display:block; padding-bottom: 56.25%; }
.attachment-thumb__icon-container img { position: absolute; left: 0; top: 0;}
.attachment-thumb__icon-container div { position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: #FB404B; display: flex; align-items: center; justify-content: center; }
.attachment-thumb__icon-container i { z-index: 2; color: white; font-size: 24px; background: rgba(0, 0, 0, 0.36); }
@media (min-width: 992px){
  .card form [class*="col-"] { padding: 0 15px; }
}

/* loading
*****************************/
.attachment-loading-container { text-align: center;}
.attachment-loading-container img { max-width: 200px; display: inline-block; }

/* type head */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}
